.flex{
    display: flex;  
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.center{
    align-items: center;
    justify-content: center;
}
.start{
    align-items: center;
    justify-content: start;
}
.gap{
    gap:20px;
}
.space-evenly{
    align-items: center;
    justify-content: space-evenly;
}